<div class="nav">
    <!--
        <div class="menu-hamburger">
            <button></button>
        </div>
    -->
    
    <div class="logo">
        Space Bubble
    </div>
    <div class="nav-items">
        <ul>
            <li><a routerLink="/">feed</a></li>
            <li><a>Nasa</a>
                <ul>
                    <li><a routerLink="/nasa/library">Library</a></li>
                    <li><a routerLink="/nasa/apodoftoday">APOD</a></li>
                    <li><a routerLink="/nasa/asteroidbrowse">Asteroids</a></li>
                    <li><a routerLink="/nasa/asteroidnear">Asteroids Near</a></li>
                </ul>
            </li>
            <li><a>SpaceX</a>
                <ul>
                    <li><a routerLink="/spaceX/missions">Missions</a></li>
                    <li><a routerLink="/spaceX/historic">Historic</a></li>
                    <li><a routerLink="/spaceX/launches">Launches</a></li>
                    <li><a routerLink="/spaceX/rockets">Rockets</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>