<div class="main-grid-conatiner">
    <div class="brand-logo nasa">
        <span>NASA</span>
    </div>
    <div class="brand-logo spacex">
        <span>SpaceX</span>
    </div> 
  
    <div class="nasa-container">
        <div class="card card--1">
            <div class="card__img">
            </div>
            <div class="card__info">
                <span class="card__category"> Recipe</span>
                <h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
                <span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
            </div>
        </div>
        <div class="card card--1">
            <div class="card__img">
            </div>
            <div class="card__info">
                <span class="card__category"> Recipe</span>
                <h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
                <span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
            </div>
        </div>
        <div class="card card--1">
            <div class="card__img">
            </div>
            <div class="card__info">
                <span class="card__category"> Recipe</span>
                <h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
                <span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
            </div>
        </div>
        <div class="card card--1">
            <div class="card__img">
            </div>
            <div class="card__info">
                <span class="card__category"> Recipe</span>
                <h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
                <span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
            </div>
        </div>
        <div class="card card--1">
            <div class="card__img">
            </div>
            <div class="card__info">
                <span class="card__category"> Recipe</span>
                <h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
                <span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
            </div>
        </div>
        <div class="card card--1">
            <div class="card__img">
            </div>
            <div class="card__info">
                <span class="card__category"> Recipe</span>
                <h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
                <span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
            </div>
        </div> 
        <div class="card card--1">
            <div class="card__img">
            </div>
            <div class="card__info">
                <span class="card__category">Recipe</span>
                <h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
                <span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
            </div>
        </div> 
    </div>
    <div class="mid"></div>
    <div class="spacex-conatiner">
        <div class="card card--1">
            <div class="card__img">
            </div>
            <div class="card__info">
                <span class="card__category"> Recipe</span>
                <h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
                <span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
            </div>
        </div>
        <div class="card card--1">
            <div class="card__img">
            </div>
            <div class="card__info">
                <span class="card__category"> Recipe</span>
                <h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
                <span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
            </div>
        </div>
        <div class="card card--1">
            <div class="card__img">
            </div>
            <div class="card__info">
                <span class="card__category"> Recipe</span>
                <h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
                <span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
            </div>
        </div>
        <div class="card card--1">
            <div class="card__img">
            </div>
            <div class="card__info">
                <span class="card__category"> Recipe</span>
                <h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
                <span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
            </div>
        </div>
        <div class="card card--1">
            <div class="card__img">
            </div>
            <div class="card__info">
                <span class="card__category"> Recipe</span>
                <h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
                <span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
            </div>
        </div>
        <div class="card card--1">
            <div class="card__img">
            </div>
            <div class="card__info">
                <span class="card__category"> Recipe</span>
                <h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
                <span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
            </div>
        </div>
        <div class="card card--1">
            <div class="card__img">
            </div>
            <div class="card__info">
                <span class="card__category"> Recipe</span>
                <h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
                <span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
            </div>
        </div>
    </div>
    
</div>